extends ../../layout/layoutdefault.pug
include ../../mixins/alert.pug

block main
  .container.mt-5
    +alert-success(5000)
    +alert-error(5000)

    h2.text-center.mb-4.text-primary Thêm vai trò

    form(method="POST", action=`${prefixAdmin}/roles/create`)
      .mb-3
        label.form-label(for="title") Tên vai trò
        input.form-control(type="text", name="title", id="title", required)

      .mb-3
        label.form-label(for="description") Mô tả
        textarea.form-control(name="description", id="description", rows="3")
      button.btn.btn-success(type="submit") Thêm mới
      a.btn.btn-secondary.ms-2(href=`${prefixAdmin}/roles`) Quay lại
