//- Pricing Plan Start
.container-fluid.bg-light.pt-5.pb-4
  .container.py-5
    .d-flex.flex-column.text-center.mb-5
      h4.text-secondary.mb-3 Gói Dịch Vụ
      h1.display-4.m-0
        | Chọn 
        span.text-primary Mức Giá Tốt Nhất
    .row
      //- Gói Cơ Bản
      .col-lg-4.mb-4
        .card.border-0
          .card-header.position-relative.border-0.p-0.mb-4
            img.card-img-top(src="img/price-1.jpg", alt="")
            .position-absolute.d-flex.flex-column.align-items-center.justify-content-center.w-100.h-100(
              style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);"
            )
              h3.text-primary.mb-3 Cơ Bản
              h1.display-4.text-white.mb-0
                small.align-top(style="font-size: 22px; line-height: 45px;") $
                | 49
                small.align-bottom(style="font-size: 16px; line-height: 40px;") / Tháng
          .card-body.text-center.p-0
            ul.list-group.list-group-flush.mb-4
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Cho ăn
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Lưu trú
              li.list-group-item.p-2
                i.fa.fa-times.text-danger.mr-2
                | Spa & Chải lông
              li.list-group-item.p-2
                i.fa.fa-times.text-danger.mr-2
                | Thú y
          .card-footer.border-0.p-0
            a.btn.btn-primary.btn-block.p-3(href="", style="border-radius: 0;") Đăng Ký Ngay

      //- Gói Tiêu Chuẩn
      .col-lg-4.mb-4
        .card.border-0
          .card-header.position-relative.border-0.p-0.mb-4
            img.card-img-top(src="img/price-2.jpg", alt="")
            .position-absolute.d-flex.flex-column.align-items-center.justify-content-center.w-100.h-100(
              style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);"
            )
              h3.text-secondary.mb-3 Tiêu Chuẩn
              h1.display-4.text-white.mb-0
                small.align-top(style="font-size: 22px; line-height: 45px;") $
                | 99
                small.align-bottom(style="font-size: 16px; line-height: 40px;") / Tháng
          .card-body.text-center.p-0
            ul.list-group.list-group-flush.mb-4
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Cho ăn
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Lưu trú
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Spa & Chải lông
              li.list-group-item.p-2
                i.fa.fa-times.text-danger.mr-2
                | Thú y
          .card-footer.border-0.p-0
            a.btn.btn-secondary.btn-block.p-3(href="", style="border-radius: 0;") Đăng Ký Ngay

      //- Gói Cao Cấp
      .col-lg-4.mb-4
        .card.border-0
          .card-header.position-relative.border-0.p-0.mb-4
            img.card-img-top(src="img/price-3.jpg", alt="")
            .position-absolute.d-flex.flex-column.align-items-center.justify-content-center.w-100.h-100(
              style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);"
            )
              h3.text-primary.mb-3 Cao Cấp
              h1.display-4.text-white.mb-0
                small.align-top(style="font-size: 22px; line-height: 45px;") $
                | 149
                small.align-bottom(style="font-size: 16px; line-height: 40px;") / Tháng
          .card-body.text-center.p-0
            ul.list-group.list-group-flush.mb-4
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Cho ăn
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Lưu trú
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Spa & Chải lông
              li.list-group-item.p-2
                i.fa.fa-check.text-secondary.mr-2
                | Thú y
          .card-footer.border-0.p-0
            a.btn.btn-primary.btn-block.p-3(href="", style="border-radius: 0;") Đăng Ký Ngay
