//- Services Start
extends ../layout/layoutdefault.pug
block main
  .container-fluid.bg-light.pt-5
    .container.py-5
      .d-flex.flex-column.text-center.mb-5
        h4.text-secondary.mb-3 Our Services
        h1.display-4.m-0 
          span.text-primary Premium
          |  Pet Services

      .row.pb-3
        //- Service 1
        .col-md-6.col-lg-4.mb-4
          .d-flex.flex-column.text-center.bg-white.mb-2.p-3.p-sm-5
            h3.flaticon-house.display-3.font-weight-normal.text-secondary.mb-3
            h3.mb-3 Pet Boarding
            p Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo
            a.text-uppercase.font-weight-bold(href="") Read More

        //- Service 2
        .col-md-6.col-lg-4.mb-4
          .d-flex.flex-column.text-center.bg-white.mb-2.p-3.p-sm-5
            h3.flaticon-food.display-3.font-weight-normal.text-secondary.mb-3
            h3.mb-3 Pet Feeding
            p Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo
            a.text-uppercase.font-weight-bold(href="") Read More

        //- Service 3
        .col-md-6.col-lg-4.mb-4
          .d-flex.flex-column.text-center.bg-white.mb-2.p-3.p-sm-5
            h3.flaticon-grooming.display-3.font-weight-normal.text-secondary.mb-3
            h3.mb-3 Pet Grooming
            p Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo
            a.text-uppercase.font-weight-bold(href="") Read More

        //- Service 4
        .col-md-6.col-lg-4.mb-4
          .d-flex.flex-column.text-center.bg-white.mb-2.p-3.p-sm-5
            h3.flaticon-cat.display-3.font-weight-normal.text-secondary.mb-3
            h3.mb-3 Per Training
            p Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo
            a.text-uppercase.font-weight-bold(href="") Read More

        //- Service 5
        .col-md-6.col-lg-4.mb-4
          .d-flex.flex-column.text-center.bg-white.mb-2.p-3.p-sm-5
            h3.flaticon-dog.display-3.font-weight-normal.text-secondary.mb-3
            h3.mb-3 Pet Exercise
            p Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo
            a.text-uppercase.font-weight-bold(href="") Read More

        //- Service 6
        .col-md-6.col-lg-4.mb-4
          .d-flex.flex-column.text-center.bg-white.mb-2.p-3.p-sm-5
            h3.flaticon-vaccine.display-3.font-weight-normal.text-secondary.mb-3
            h3.mb-3 Pet Treatment
            p Diam amet eos at no eos sit lorem, amet rebum ipsum clita stet, diam sea est magna diam eos, rebum sit vero stet ipsum justo
            a.text-uppercase.font-weight-bold(href="") Read More
